{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
            <h1>About Us</h1>
            <p>Our team is made up by 4 greate members.</p>
            <p>Kelger built the website, and wrote a spider to crawl daily price of apple product from appletuan.com.</p>
            <p>Lecision deployed the website using uWSGI and Nginx.</p>
            <p>Liu Y.J made pressure test on the website with a tool named webbench.</p>
            <p>Cuocuo analyzed the result of webbench and carried out load balance to improve the server's performance.</p>
            <p>You can contact us by email: gaigai508@gmail.com.</p>
</div>
{% endblock %}
