{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
            <h1>Daily Price</h1>
            <p>This website is an example using django and nginx. The function is showing everyday price of apple products.</p>
</div>
{% if latest_quotes_list %}
<div class="post">

<div class="list-group">
    {% for quote in latest_quotes_list %}
        <a href="/quote/{{ quote.id }}/" class="list-group-item">{{ quote.title }}</a>
    {% endfor %}
</div>
{% else %}
    <p>No quotes are available.</p>
</div>
{% endif %}
{% endblock %}
